<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.willpower">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WILLPOWER"
        tools:targetApi="31">
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".SelectedAddictionDetails"
            android:exported="false" />
        <activity
            android:name=".RiskWarning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PsychiatristInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainTimePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameAddCongrats"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InternetAddictionCheck"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PornAddictionCheck"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmokingAddictionCheck"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameAddictionCheck"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HabitsQuery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>